<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <!-- Application Settings-->
    <add key="page_size" value="10" />
    <add key="commentLength" value="500" />
    <add key="SLIC" value="SLIC_ClaimAssesment" />
    <!--<add key="image_gallery_path" value="F:\SLIC\Photos\" />-->
    <add key="image_gallery_path" value="D:\Atheek\ClaimsOne\Current\SLIC\Photos\" />
    <add key="thumbnail_path" value="C:\Users\UTHPALAP\Desktop\SLIC\Photos\" />
    <add key="supportInfo_email" value="support@motorclaim.lk" />
    <add key="supportInfo_phone" value="(94) 11-2338 741" />
    <add key="resetPassword_defaultValue" value="pass@word" />
    <add key="damagedItemsXML" value="/Models/Vehicle/DamagedItems.xml" />
    <add key="tempPrinting_period" value="240" />
    <add key="max_system_admins" value="4" />
    <add key="cooperateId" value="1" />
    <add key="serverId" value="1" />
    <!--Email Settings-->
    <add key="smtp_email_username" value="warunak@srilankainsurance.com" />
    <add key="smtp_email_password" value="User@123" />
    <add key="smtp_host" value="192.168.248.3" />
    <add key="smtp_port" value="25" />
    <add key="smtp_ssl" value="false" />
    <!--smtp_Client_Timeout is in milliseconds-->
    <add key="smtp_client_timeout" value="1000000" />
    <!-- Diagnosis-->
    <add key="database_IP" value="172.21.3.82" />
    <add key="ping_timeOut" value="120" />
    <!--Date Formatter-->
    <!--Common User Settings-->
    <add key="common_user_username" value="commonuser@slic.com" />
    <add key="common_user_password" value="#slic@CommonUser#01" />
    <add key="common_user_accesscode" value="019SLIC@cOne01" />
    <!--
    Date Only Formats..........................................
    C# Format   | Common Example        | jQuery Format
    ...........................................................
    d           - 5/22/2012             - m/dd/yy
    dd/MMM/yy   - 22/May/12             - dd/M/y
    
    MM/dd/yyyy  - 05/22/2012            - mm/dd/yy
    M/dd/yyyy   - 5/22/2012             - m/dd/yy
    M/d/yy      - 5/22/12               - m/d/y
    MM/dd/yy    - 05/22/12              - mm/dd/y
    yy/MM/dd    - 12/05/22              - y/mm/dd
    yyyy/MM/dd  - 2012/05/22            - yy/mm/dd
    -->
    <add key="dateOnlyFormat" value="dd-MMM-yy" />
    <!--
    Date and Time Formats..........................................
    f                     Friday, February 22, 2012 12:11 PM
    F                     Friday, February 22, 2012 12:12:22 PM
    g                     5/22/2012 12:12 PM
    G                     5/22/2012 12:12:22 PM 
    U                     Friday, February 22, 2012 8:12:22 PM
    dd/MM/yyyy hh:mm tt   22/05/2012 12:12 PM
    -->
    <add key="dateTimeFormat" value="dd-MMM-yy hh:mm tt" />
    <!--Working hours-->
    <add key="startTime" value="9:00" />
    <add key="endTime" value="17:00" />
    <add key="hoursToComplete" value="4:00" />
    <!--To's Score-->
    <add key="positiveScore" value="+1" />
    <add key="negativeScore" value="-1" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Data Source=172.21.0.22;Initial Catalog=MCMdev;User ID=sa;Password=passw0rd" providerName="System.Data.SqlClient" />
    <add name="MotorClaimEntities" connectionString="metadata=res://*/Models.EntityModel.MotorClaimModel.csdl|res://*/Models.EntityModel.MotorClaimModel.ssdl|res://*/Models.EntityModel.MotorClaimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.0.22;initial catalog=MCMdev;user id=sa;password=passw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApplicationServices" connectionString="Data Source=172.21.0.34;Initial Catalog=ClaimsOneLive;User ID=sa;Password=passw0rd" providerName="System.Data.SqlClient" />
    <add name="MotorClaimEntities" connectionString="metadata=res://*/Models.EntityModel.MotorClaimModel.csdl|res://*/Models.EntityModel.MotorClaimModel.ssdl|res://*/Models.EntityModel.MotorClaimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.0.34;initial catalog=ClaimsOne;user id=sa;password=passw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApplicationServices" connectionString="Data Source=172.21.0.22;Initial Catalog=ClaimsOneLive;User ID=sa;Password=passw0rd" providerName="System.Data.SqlClient" />
    <add name="MotorClaimEntities" connectionString="metadata=res://*/Models.EntityModel.MotorClaimModel.csdl|res://*/Models.EntityModel.MotorClaimModel.ssdl|res://*/Models.EntityModel.MotorClaimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.0.22;initial catalog=ClaimsOneLive;user id=sa;password=passw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ApplicationServices" connectionString="Data Source=192.168.1.103,1433;Initial Catalog=ClaimsOneLive;User ID=sa;Password=password#01" providerName="System.Data.SqlClient" />
    <add name="MotorClaimEntities" connectionString="metadata=res://*/Models.EntityModel.MotorClaimModel.csdl|res://*/Models.EntityModel.MotorClaimModel.ssdl|res://*/Models.EntityModel.MotorClaimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.103,1433;initial catalog=ClaimsOneLive;user id=sa;password=password#01;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ApplicationServices" connectionString="Data Source=172.24.60.23;Initial Catalog=ClaimsOneLive;User ID=sa; Password=Password#01" providerName="System.Data.SqlClient" />
    <add name="MotorClaimEntities" connectionString="metadata=res://*/Models.EntityModel.MotorClaimModel.csdl|res://*/Models.EntityModel.MotorClaimModel.ssdl|res://*/Models.EntityModel.MotorClaimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.60.23;initial catalog=ClaimsOneLive;user id=sa;password=Password#01;&#xD;&#xA;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!--enables the details of the application error to be viewed remotely | 2016-11-28-->
    <customErrors mode="Off" />
    <!--Session State mode-->
    <sessionState mode="InProc" timeout="30" />
    <!-- Uploading big file sizes -->
    <httpRuntime maxRequestLength="300000000" executionTimeout="9000" requestValidationMode="2.0" />
    <globalization enableClientBasedCulture="true" culture="en-GB" uiCulture="en" />
    <authorization>
      <!--<allow users="?" />-->
      <deny users="?" />
    </authorization>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="MotorClaim" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="MotorClaim" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="2" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="5" applicationName="MotorClaim" />
      </providers>
    </membership>
    <machineKey validationKey="21B2A75B7DF6E0024489564B5A6E44527E803CD6F9603DA7B523F798F08C45BC874308CB0A32B37D6E329C7473B3D6AFAC11C7D0FE50C024AA05AC4992401D7D" decryptionKey="01E7B066DF7A2A603D601BD48FECF1F852D5D4D292C4A0D5C454DEFCDCA2DA2E" validation="SHA1" decryption="AES" />
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="MotorClaim" />
      </providers>
    </profile>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--
        29/01/2016
        Added the following line because project got an exception-->
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/LogOn/LogOn" timeout="2880" />
    </authentication>
    <pages validateRequest="true">
      <!--theme="SLIC">-->
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits>
          <headerLimits>
            <add header="x-IronOne" sizeLimit="12" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="External/SearchResultsExternal">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>